.work-with-us {
  padding: 60px clamp(20px, 5vw, 70px);
}

/* TEXTE */

.intro {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-top: 20px;
}

.wwu-texte {
  width: 1500px;
}

.wwu-texte h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: #dd7d16;
  font-size: clamp(1.8rem, 3vw, 2.8rem);
}

.wwu-texte p {
  line-height: 1.7;
  margin-bottom: 15px;
  color: black;
  text-align: justify;
}

.wwu-highlight {
  font-weight: bold;
}

/* IMAGE */
.wwu-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.wwu-texte {
  flex: 1;
}

.wwu-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  min-width: 0;
}

.wwu-image img {
  width: 81%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

/* BOUTON */

.nous-rejoindre {
  display: inline-block;
  margin-top: 20px;
  padding: 13px 25px;
  text-decoration: none;
  border-radius: 8px;
  background-color: #dd7d16;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.nous-rejoindre:hover {
  transform: translateY(-3px);
}

.titre-section-partners {
  margin-left: var(--margin-left-aside);
  margin-right: 50px;

  width: calc(100% - var(--margin-left-aside) - 185px);
  height: 200px;

  margin-bottom: 200px;

  background-color: white;

  border-radius: 12px;

  overflow: hidden;

  box-sizing: border-box;
}

.partner-track {
  display: flex;
  gap: 200px;

  animation: defilement 15s linear infinite;
  width: 500px;
  margin-right: 250px;
}

.partner-card {
  flex-shrink: 0;
}

.partner-card img {
  display: flex;
  height: 250px;
  width: 250px;
  text-align: justify;
  gap: 350px;
}

/* L'animation qui décale la piste de la moitié de sa largeur */
@keyframes defilement {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.partners h2 {
  font-size: 70px;
}

.spe-left,
.spe-right {
  margin-left: var(--margin-left-aside);
}

.titre-p {
  color: rgba(246, 152, 1, 0.9);
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
  margin-left: 60px;
}

.badge-danger {
  background-color: rgb(220, 97, 97);
  color: white;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
}

.badge-primary {
  background-color: rgb(11, 39, 197);
  color: white;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
}

.badge-info {
  background-color: rgb(84, 200, 243);
  color: white;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
}

.badge-secondary {
  background-color: rgb(185, 183, 183);
  color: rgb(0, 0, 0);
  padding: 4px;
  text-align: center;
  border-radius: 5px;
}

.badge-secondary-match-date {
  background-color: rgb(185, 183, 183);
  color: rgb(0, 0, 0);
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  height: 22px;
  width: 150px;
}

.badge-warning {
  background-color: rgb(249, 212, 0);
  color: black;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
}

.badge {
  background-color: rgb(249, 212, 0);  
  text-align: center;
  border-radius: 5px;
  height: 22px;
  width: 150px;
  margin-left: 10px;
}

.ico-nav {
  width: 50px;
  height: 50px;
}




.citations {
  font-style: italic;
}

.versus {
    width: 35px;
    height: 35px;
}

.versus-matchs {
      
     margin-left: -85px;
     margin-right: 105px;
     margin-top: 75px;
     width: 35px;
     height: 35px;
}
#citation,
#auteur {
    opacity: 1;
}


/* DISPARITION */

.fade-out {
    animation: fadeOut 1s forwards;
    color: black;
}


/* APPARITION */

.fade-in {
    animation: fadeIn 1s forwards;
    color: black;
}


/* ANIMATIONS */

@keyframes fadeOut {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}


@keyframes fadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}