body, main {
    height: 100vh;
}

.block {
    background-color: rgb(107, 147, 191);
    border: 3px solid rgb(183, 183, 162);
}

.section-block {
    color: #ffffff;
    background-color: #333333;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 2fr 3fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.item1 {
   font-family: verdana;
}
.item2 {
    grid-column: 2 / span 2;
    
}
.item3 {
    grid-column: 4 / span 2;
    
}
.item4 {

    grid-row: 2 / span 5;
    
}
.item5 {
    grid-row: 7 / span 3;
    
}
.item6 {
    grid-row: 10 / span 3;
    
}
.item7 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 4;
    
}
.item8 {
    grid-column: 2 / span 1;
    grid-row: 6 / span 7;
    
}
.item9 {
    grid-column: 3 / span 1;
    grid-row: 6 / span 7;
    
}
.item10 {
    grid-column: 4 / span 2;
    grid-row: 2 / span 5;
    
}
.item11 {
    grid-column: 4 / span 1;
    grid-row: 7 / span 6;
    
}
.item12 {
    grid-column: 5 / span 1;
    grid-row: 7 / span 6;
    
}


